
<div class="container mt-5">
    <button class="btn btn-primary mb-3" (click)="newpost()">Añadir post</button>
    <div class="d-flex flex-wrap">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Título del Post 1</h5>
                <p class="card-text">Descripción del Post 1</p>
                <p class="card-text"><small>ID del Post: 1</small></p>
                <p class="card-text">Likes: 3</p>
                <p class="card-text">Dislikes: 5</p>
                <div class="btn-group">
                    <button class="btn btn-secondary">Editar post</button>
                    <button class="btn btn-danger">Borrar post</button>
                </div>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Título del Post 2</h5>
                <p class="card-text">Descripción del Post 2</p>
                <p class="card-text"><small>ID del Post: 2</small></p>
                <p class="card-text">Likes: 4</p>
                <p class="card-text">Dislikes: 7</p>
                <div class="btn-group">
                    <button class="btn btn-secondary">Editar post</button>
                    <button class="btn btn-danger">Borrar post</button>
                </div>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Título del Post 3</h5>
                <p class="card-text">Descripción del Post 3</p>
                <p class="card-text"><small>ID del Post: 3</small></p>
                <p class="card-text">Likes: 2</p>
                <p class="card-text">Dislikes: 1</p>
                <div class="btn-group">
                    <button class="btn btn-secondary">Editar post</button>
                    <button class="btn btn-danger">Borrar post</button>
                </div>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Título del Post 4</h5>
                <p class="card-text">Descripción del Post 4</p>
                <p class="card-text"><small>ID del Post: 4</small></p>
                <p class="card-text">Likes: 6</p>
                <p class="card-text">Dislikes: 2</p>
                <div class="btn-group">
                    <button class="btn btn-secondary">Editar post</button>
                    <button class="btn btn-danger">Borrar post</button>
                </div>
            </div>
        </div>
    </div>
</div>
