<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Blog</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!-- 
                    <li class="nav-item"><a class="nav-link" (click)="dashboard()">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" (click)="home()">Home</a></li>
                    <li class="nav-item" *ngIf="showNoAuthSection"><a class="nav-link" (click)="login()">Login</a></li>
                    <li class="nav-item" *ngIf="showNoAuthSection"><a class="nav-link" (click)="register()">Register</a></li>
                    <li class="nav-item" *ngIf="showAuthSection"><a class="nav-link" (click)="adminPosts()">Admin posts</a></li>
                    <li class="nav-item" *ngIf="showAuthSection"><a class="nav-link" (click)="adminCategories()">Admin categories</a></li>
                    <li class="nav-item" *ngIf="showAuthSection"><a class="nav-link" (click)="profile()">Profile</a></li>
                    <li class="nav-item" *ngIf="showAuthSection"><a class="nav-link" (click)="logout()">Logout</a></li> 
                -->
                <li class="nav-item"><a class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link">Login</a></li>
                <li class="nav-item"><a class="nav-link" >Register</a></li>
                <li class="nav-item"><a class="nav-link" >Admin posts</a></li>
                <li class="nav-item"><a class="nav-link" >Admin categories</a></li>
                <li class="nav-item"><a class="nav-link" >Profile</a></li>
                <li class="nav-item"><a class="nav-link" >Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
