<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Iniciar sesión</h2>
                    
                    
                    
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="surname1" class="form-label">Surname1:</label>
                            <input type="text" class="form-control" id="surname1" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="surname2" class="form-label">Surname2:</label>
                            <input type="text" class="form-control" id="surname2" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="alias" class="form-label">Alias:</label>
                            <input type="text" class="form-control" id="alias" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="birthdate" class="form-label">Birth date:</label>
                            <input type="date" class="form-control" id="birthdate" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
